<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>John Barrett</title>
</head>

<body>
  <div id="container" (scroll)="onWindowScroll($event);">

    <section id="home">
      <div id="home">
        <video autoplay muted loop id="myVideo">
          <source src="/assets/Coding.mp4" type="video/mp4">
        </video>
        <img id="intro" src="../assets/SmallLogo.png">
      </div>
    </section>

    <mdb-navbar id="myNav" SideClass="navbar navbar-expand-lg white" class="moo">
      <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
          <img src="../assets/SmallLogo.png" height="30" alt="">
        </a>
      </mdb-navbar-brand>

      <links>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" href="#home" mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#about" mdbWavesEffect>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#projects" mdbWavesEffect>Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#skills" mdbWavesEffect>Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#contact" mdbWavesEffect>Contact</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <!-- About -->
    <section id="about">
      <div id="about">
        <h1>About</h1>
        <div class="row">
            <div class="col col-lg-1"></div>
            <div class="col col-lg-5"></div>
            <div class="col col-lg-5"></div>
            <div class="col col-lg-1"></div>            
        </div>
      </div>
    </section>

    <!-- Projects -->
    <section id="projects">
      <div id="projects">
        <h1>Projects</h1>

        <div class="row justify-content-md-center">

          <div class="col col-lg-1"></div>

          <!-- Michael's Mini-Mart -->
          <mdb-card class="col col-lg-2 sample">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4 class="cardTitle">Michael's Mini-Mart</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="www.michaelsminimart.com" class="cardIconBrowser" mdbWavesEffect><mdb-icon fas icon="globe-americas" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Animal Advocate -->
          <mdb-card class="col col-lg-2 sample">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>Animal Advocate</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Animal_Advocate" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Calculator -->
          <mdb-card class="col col-lg-2 sample">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>Calculator</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Calculator" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Pong Game -->
          <mdb-card class="col col-lg-2 sample">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>Pong Game</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <div class="col col-lg-1"></div>

        </div>

        <div class="row justify-content-md-center">

          <div class="col col-lg-1"></div>

          <!-- YoGramma! -->
          <mdb-card class="col col-lg-2 sample">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="../assets/grandmacover.jpg"
                alt="Card image cap" class="cardPic"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>YoGramma!</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Yo-Grandma" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Mean Project -->
          <mdb-card class="col col-lg-2 sample">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                  alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body class="cardPadding">
                <mdb-card-title>
                  <h4>MEAN Project</h4>
                </mdb-card-title>
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
                <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
                <a href="" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
              </mdb-card-body>
            </mdb-card>

          <!-- Java Project -->
          <mdb-card class="col col-lg-2 sample">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                  alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body class="cardPadding">
                <mdb-card-title>
                  <h4>Java Project</h4>
                </mdb-card-title>
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
                <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
                <a href="" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
              </mdb-card-body>
            </mdb-card>

          <!-- Travel Guide -->
          <mdb-card class="col col-lg-2 sample">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                  alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body class="cardPadding">
                <mdb-card-title>
                  <h4>Travel Guide</h4>
                </mdb-card-title>
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
                <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
                <a href="" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
              </mdb-card-body>
            </mdb-card>

            <div class="col col-lg-1"></div>

        </div>
      </div>
    </section>

    <!-- Skills -->
    <section id="skills">
      <div id="skills">
        <h1>Skills</h1>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <h1>Contact Me</h1>
      <div id="contact"> 
        <div class="row justify-content-md-center">
          <div class="col col-lg-1"></div>
          <div class="col col-lg-10">
              

          </div>
          <div class="col col-lg-1"></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-1"></div>
          <div class="col col-lg-10 contactLinks">
            <hr>
              <a href="https://www.linkedin.com/in/barrettjj/" class="mx-4"><mdb-icon fab icon="linkedin-in" size="2x"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22" class="mx-4"><mdb-icon fab icon="github" size="2x"></mdb-icon></a>
              <a href="https://johnjbarrett.me/" class="mx-4"><mdb-icon fab icon="wordpress-simple" size="2x"></mdb-icon></a>
              <a href="https://www.instagram.com/jb_codes/" class="mx-4"><mdb-icon fab icon="instagram" size="2x"></mdb-icon></a>
              <a href="https://twitter.com/jb_codes" class="mx-4"><mdb-icon fab icon="twitter" size="2x"></mdb-icon></a>
              <a href="#" class="mx-4"><mdb-icon fab icon="youtube" size="2x"></mdb-icon></a>
              <a href="https://www.goodreads.com/user/show/94195634-john-barrett" class="mx-4"><mdb-icon fab icon="goodreads-g" size="2x"></mdb-icon></a>
            <hr>
          </div>
          <div class="col col-lg-1"></div>
        </div>
      </div>
    </section>
  </div>

  <router-outlet></router-outlet>

</body>

</html>