* {
    margin: 0;
    padding: 0;   
}
a {
    color: orange;
}
a:hover {
    color: red;
    font-weight: bold;
}
i {
    color: white;
    margin: 1rem;
}
#projects {
    height: 100%;
    width: 100%;
    background-color: #4C4F57;
}
#skills {
    height: 500px;
    width: 100%;
    background-color: white;
}
#contact {
    height: 500px;
    width: 100%;
    background-color: black;
}
#myVideo {
    display: inline-block;
    height: 90%;
    z-index: 0;
}
#myNav {
    border-bottom: 10px;
}
#intro {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    z-index: 10000;
}
.sample {
    margin: 1rem;
}
.test {
    border: 1px solid blue;
}