* {
    margin: 0;
    padding: 0;
}
#project1 {
    height: 500px;
    width: 100%;
    background-color: #4C4F57;
}
#project2 {
    height: 500px;
    width: 100%;
    background-color: white;
}
#project3 {
    height: 500px;
    width: 100%;
    background-color: black;
}
#myVideo {
    display: inline-block;
    height: 90%;
    z-index: 0;
}
#myNav {
    border-bottom: 10px;
}
#intro {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 60%;
}
#p1-left {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    color: white;
}
#p2-right {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 2rem;
    text-align: center;
}