* {
    margin: 0;
    padding: 0;   
}
html {
	scroll-behavior: smooth;
}
a {
    color: #faae17;
}
a:hover {
    color: #f5941c;
    font-weight: bold;
}
i {
    color: white;
    margin: 1rem;
}
hr {
    margin: 1rem;
    background-color: white;
}
#myWork {
    height: 100%;
    width: 100%;
    background-color: #4C4F57;
}
#skills {
    height: 500px;
    width: 100%;
    background-color: white;
}
#contact {
    background-color: black;
}
#myVideo {
    display: inline-block;
    min-width: 100vw;
    max-width: 100vh;
    z-index: 0;
}
#myNav {
    border-bottom: 10px;
}
#intro {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%;
    z-index: 10000;
}
.sample {
    margin: 1rem;
}
.sticky {
    background: #fff;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    z-index: 90000;
    width: 100%;
}
.contactLinks {
    text-align: center;
}
.test {
    border: 1px solid blue;
}
.cardPadding {
    padding: 0.25rem
}
.cardIconBrowser {
    color: blue;
    padding-right: .25rem;  
}
.cardIconYouTube {
    color:red;
    padding-right: .25rem;  
}
.cardIconGitHub {
    color: black;
    padding-right: .25rem;   
}
label {
    color: white;
}
.submitButton {
    margin-top: 1rem;
    border: none;
    border-radius: .25rem;
    padding: 0 .5rem;
    color: #f5941c;
    background-color: #4C4F57;
}
input:focus, textarea:focus {
    border: 1px solid #f5941c;
    outline: #f5941c;
    box-shadow: 0 0 10px #f5941c;
}
input {
    margin-bottom: 1rem;
}
.leftField {
    padding-right: .5rem;
}
.rightField {
    padding-left: .5rem;
}
.finePrint {
    font-size: 10px;
    text-align: center;
    color: white;
}
.bold {
    font-weight: bold;
}