<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>John Barrett</title>
<!-- Start of Async Drift Code -->
<script>
    "use strict";
    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('e8dn7kg8gx4z');
    </script>
    <!-- End of Async Drift Code -->
</head>

<body>
  <div id="container" (scroll)="onWindowScroll($event);">

    <section id="home">
      <div id="home">
        <video autoplay muted loop id="myVideo">
          <source src="/assets/Coding.mp4" type="video/mp4">
        </video>
        <img id="intro" src="../assets/SmallLogo.png">
      </div>
    </section>

    <mdb-navbar id="myNav" SideClass="navbar navbar-expand-lg white">
      <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
          <img src="../assets/SmallLogo.png" height="30" alt="">
        </a>
      </mdb-navbar-brand>

      <links>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link waves-light" href="#home" mdbWavesEffect>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#about" mdbWavesEffect>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#projects" mdbWavesEffect>My Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#contact" mdbWavesEffect>Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="../assets/Resume - John Barrett.pdf" download mdbWavesEffect>Resume</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>

    <!-- About -->
    <section id="about">
      <div id="about">
        <h1 class="sectionTitle">About</h1>
        <div class="row justify-content-md-center">
          <div class="col col-lg-1"></div>
          <div class="col col-lg-2 iconAlign">
            <i class="fab fa-accessible-icon fa-7x iconAbout"></i>
            <h3>Keyword</h3>
            <p>Random text Random text Random text Random text Random text</p>
          </div>
          <div class="col col-lg-2 iconAlign">
            <i class="fab fa-accessible-icon fa-7x iconAbout"></i>
            <h3>Keyword</h3>
            <p>Random text Random text Random text Random text Random text</p>
          </div>
          <div class="col col-lg-2 iconAlign">
            <i class="fab fa-accessible-icon fa-7x iconAbout"></i>
            <h3>Keyword</h3>
            <p>Random text Random text Random text Random text Random text</p>
          </div>
          <div class="col col-lg-2 iconAlign">
            <i class="fab fa-accessible-icon fa-7x iconAbout"></i>
            <h3>Keyword</h3>
            <p>Random text Random text Random text Random text Random text</p>
          </div>
          <div class="col col-lg-1"></div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col col-lg-5 introBox">
            <h2>Hi! I'm John, a software developer based in Los Angeles, California. Please take a look around! %%% %%% %% %%% %% % %%% %%%% %%% %%% %%%% %%%% %%%% %%% %%% %%%%% %%%% %%% %%% %%%</h2>
          </div>
          <div class="col col-lg-5 detailBox">
            <h4>Small text area.</h4>
          </div>           
        </div>
        
        <div class="row justify-content-md-center">
          <div class="col col-lg-5 skillBox">
            <h2>Languages</h2>
          </div>
          <div class="col col-lg-5 skillBox">
            <h4>Frameworks</h4>
          </div>
        </div>
        
        <div class="row justify-content-md-center">
          <div class="col col-lg-5 skillBox">
            <h2>Servers</h2>
          </div>
          <div class="col col-lg-5 skillBox">
            <h4>Databases</h4>
          </div>          
        </div>
        
        <div class="row justify-content-md-center">
          <div class="col col-lg-5 skillBox">
            <h2>Libraries</h2>
          </div>
          <div class="col col-lg-5 skillBox">
            <h4>Development Tools</h4>
          </div>           
        </div>
        
        <div class="row justify-content-md-center">
          <div class="col col-lg-5 skillBox">
            <h2>Methodologies</h2>
          </div>
          <div class="col col-lg-5 skillBox">
            <h4></h4>
          </div>     
        </div>
      </div>
    </section>

    <!-- My Work -->
    <section id="myWork">
      <div id="myWork">
        <h1 class="sectionTitle">My Work</h1>

        <div class="row justify-content-md-center">

          <div class="col col-lg-1"></div>

          <!-- Michael's Mini-Mart -->
          <mdb-card class="col col-lg-2 cardMargin">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="../assets/MMM.jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4 class="cardTitle">Michael's Mini-Mart</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="www.michaelsminimart.com" class="cardIconBrowser" mdbWavesEffect><mdb-icon fas icon="globe-americas" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Animal Advocate -->
          <mdb-card class="col col-lg-2 cardMargin">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>Animal Advocate</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Animal_Advocate" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Calculator -->
          <mdb-card class="col col-lg-2 cardMargin">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>Calculator</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Calculator" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Pong Game -->
          <mdb-card class="col col-lg-2 cardMargin">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>Breakout</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <div class="col col-lg-1"></div>

        </div>

        <div class="row justify-content-md-center">

          <div class="col col-lg-1"></div>

          <!-- YoGramma! -->
          <mdb-card class="col col-lg-2 cardMargin">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <mdb-card-img src="../assets/gramma.jpg"
                alt="Card image cap" class="cardPic"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <mdb-card-body class="cardPadding">
              <mdb-card-title>
                <h4>YoGramma!</h4>
              </mdb-card-title>
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
              <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22/Yo-Grandma" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>

          <!-- Mean Project -->
          <mdb-card class="col col-lg-2 cardMargin">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                  alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body class="cardPadding">
                <mdb-card-title>
                  <h4>MEAN Project</h4>
                </mdb-card-title>
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
                <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
                <a href="" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
              </mdb-card-body>
            </mdb-card>

          <!-- Java Project -->
          <mdb-card class="col col-lg-2 cardMargin">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                  alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body class="cardPadding">
                <mdb-card-title>
                  <h4>Java Project</h4>
                </mdb-card-title>
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
                <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
                <a href="" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
              </mdb-card-body>
            </mdb-card>

          <!-- Travel Guide -->
          <mdb-card class="col col-lg-2 cardMargin">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                  alt="Card image cap"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <mdb-card-body class="cardPadding">
                <mdb-card-title>
                  <h4>Travel Guide</h4>
                </mdb-card-title>
                <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </mdb-card-text>
                <a href="https://github.com/JohnJBarrett22/Michaels_Mini_Mart" class="cardIconYouTube" mdbWavesEffect><mdb-icon fab icon="youtube" size="lg"></mdb-icon></a>
                <a href="" class="cardIconGitHub" mdbWavesEffect><mdb-icon fab icon="github" size="lg"></mdb-icon></a>
              </mdb-card-body>
            </mdb-card>

            <div class="col col-lg-1"></div>

        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <h1 class="sectionTitle">Contact Me</h1>
      <div id="contact"> 
        <div class="row justify-content-md-center">
          <div class="col col-lg-1"></div>
          <div class="col col-lg-10">
              
            <form (submit)="addUser()">
              <!-- Row #1 -->
              <!-- {{newUser | json }} -->
              <div class="row">
                <div class="col col-lg-6 leftField">
                  <label>First Name</label>
                  <input type="text" class="form-control" id="formFirstName" name="newUser.firstName" required minlength="3">
                  <!-- <span class="warning" *ngIf="newUser.firstName.length < 3">First name must be a minimum of 3 characters.</span> -->
                  <div class="valid-feedback">
                    Please provide a valid first name.
                  </div>
                </div>
              
                <div class="col col-lg-6 rightField">
                  <label>Last Name</label>
                  <input type="text" class="form-control" id="formLastName" name="newUser.lastName" required minlength="3">
                  <!-- <span class="warning" *ngIf="newUser.lastName.length < 3">Last name must be a minimum of 3 characters.</span> -->
                  <div class="valid-feedback">
                    Please provide a valid last name.
                  </div>
                </div>
              </div>
    
              <!-- Row #2 -->
              <div class="row">
                <div class="col col-lg-6 leftField">
                  <label>Email</label>
                  <input type="text" class="form-control" id="formEmail" name="newUser.email" required minlength="9">
                  <!-- <span class="warning" *ngIf="newUser.email.length < 9">Email must be a minimum of 9 characters.</span> -->
                  <div class="valid-feedback">
                    Please provide a valid email.
                  </div>
                </div>

                <div class="col col-lg-6 rightField">
                  <label>Organization</label>
                  <input type="text" class="form-control" id="formOrganization" name="newUser.organization">
                </div>
              </div>

              <!-- Row #3 -->
              <div class="row">
                <div class="col col-lg-12">
                  <label>Message</label>
                  <textarea rows="4" class="form-control" id="formMessage" name="newUser.message"></textarea>
                </div>
              </div>

              <button class="submitButton" type="submit">Send Message<i class="fas fa-paper-plane"></i></button>
              
            </form>
            <p class="error" *ngFor="let e of errors">{{e}}</p>

          </div>
          <div class="col col-lg-1"></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-1"></div>
          <div class="col col-lg-10 contactLinks">
            <hr>
              <a href="https://www.linkedin.com/in/barrettjj/" class="mx-4"><mdb-icon fab icon="linkedin-in" size="2x"></mdb-icon></a>
              <a href="https://github.com/JohnJBarrett22" class="mx-4"><mdb-icon fab icon="github" size="2x"></mdb-icon></a>
              <a href="https://johnjbarrett.me/" class="mx-4"><mdb-icon fab icon="wordpress-simple" size="2x"></mdb-icon></a>
              <a href="https://www.instagram.com/jb_codes/" class="mx-4"><mdb-icon fab icon="instagram" size="2x"></mdb-icon></a>
              <a href="https://twitter.com/jb_codes" class="mx-4"><mdb-icon fab icon="twitter" size="2x"></mdb-icon></a>
              <a href="#" class="mx-4"><mdb-icon fab icon="youtube" size="2x"></mdb-icon></a>
              <a href="https://www.goodreads.com/user/show/94195634-john-barrett" class="mx-4"><mdb-icon fab icon="goodreads-g" size="2x"></mdb-icon></a>
            <hr>
          </div>
          <div class="col col-lg-1"></div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-1"></div>
          <div class="col col-lg-10">
            <p class="finePrint">© 2019 <span class="bold">John Barrett</span> All rights reserved</p>
          </div>
          <div class="col col-lg-1"></div>
        </div>
      </div>
    </section>
  </div>

  <router-outlet></router-outlet>

</body>

</html>